{% extends '@Home/bootstrap-modal-layout.html.twig' %}
{% block body %}


    
  <div class="row form-group">
    <div class="col-md-5 control-label">
      <label for="nickname">用户:</label>&nbsp;{{getUserNameById(problem.uid)}}
    </div>   
    <div class="col-md-2 control-label">
      <label for="roles">角色:</label>{% if problem.roles == 1 %} 学生 {% else %} 老师 {% endif %}
    </div>
          
    <div class="col-md-5 control-label">
      <label for="time">反馈时间:</label>&nbsp;{{ problem.ctm|date('Y/m/d H:i:s') }}
    </div>
  </div>
   
<p></p>
    <div class="row form-group">
    
          
    <div class="col-md-2 control-label">
      <label for="type">问题类型:</label>
    </div>
    <div class="col-md-2 controls">
      {% if feedBack.type == 0 %} 
                系统建议
            {% elseif feedBack.type == 1 %}
                系统问题
            {% elseif feedBack.type == 2 %}
                课程建议
            {% elseif feedBack.type == 3 %}
                课程纠错
            {% elseif feedBack.type == 4 %}
                其他
            {% elseif feedBack.type == 5 %}
                App类问题
            {% endif %}
    </div>
  </div>
    <p></p>
    <div class="row form-group">
      <div class="col-md-2 control-label"> 
        <label for="about">问题内容:</label>
      </div>
      <div class="col-md-9 controls">
        <textarea rows="5" name="content" class="form-control" readonly="readonly"  >{{problem.content}}</textarea>
      </div>
    </div>
    <p></p>
    {% if problem.picture %}
    <div class="row form-group">
        <div class="col-md-2 control-label"> </div>
        <div class="col-md-8 controls mts">
                            <div class="c-student-photo" style="text-align:center;display:table"><div style="display: table-cell;vertical-align: middle;"><a  href="{{problem.picture}}" target="_blank"><img src="{{problem.picture}}"  style="margin:auto 0;width:{{width}}px;height: {{height}}px;"/></a></div></div>
                        </div>
        <div class="col-md-2 control-label"> </div>
        
    </div>
    {% endif %}
    
    <p></p>
    
{% endblock %}
