{% extends '@System/PCSSD/ssd_layout.html.twig' %}

{% block title %}PCSSD用户绑定SN码 - {{ parent() }}{% endblock %}

{% set submenu = 'bind_ssd' %}

{% set script_controller = 'pcssd/bind_ssd' %}

{% block maincontent %}
    <div class="page-header clearfix" style="padding: 10px;margin-top: 0px;">
        <h3 class="pull-left">
            {% if is_binded == 1 %}
                您当前账户绑定了SN号码：{{ sn_num }}
            {% else %}
                您当前账户未绑定SN号码
            {% endif %}
        </h3>
    </div>
    <div class="alert alert-warning" style="margin: 10px 20px;">
        <a href="#" class="close" data-dismiss="alert">
            &times;
        </a>
        <strong>提示：</strong>
        <br/>该SN码是用于标识SSD口袋盘的唯一号码，请妥善保管。
        <br/>绑定了SN码，才可以使用口袋云盘用户相关服务，如下载课程资源包等。
        <br/>如果您不是口袋云盘的用户，请勿操作。
        <br/>如果您之前绑定了SN码，留空代表着解绑。
    </div>
    <div class="page-body">
        <div class="panel panel-default">
            <div class="empty-center" style="color: #060606;padding: 50px 0px;width: 60%;margin-left: 20%;">
                <div class="form-group" style="overflow:hidden;">
                    <label class="col-md-3 control-label con-tit" for="bind_email">SSD码:</label>
                    <div class="col-md-8 controls ">
                        <input type="text" class="form-control" data-binded="{{ is_binded }}" required="required" name="ssd_sn_numer" id="ssd_sn_numer" value="{{ sn_num }}" data-widget-cid="widget-6" autocomplete="off">
                        <p class="help-block">请输入您的SSD口袋盘封面上的SN号码</p>
                    </div>
                </div>
                <button id="sure_to_submit" class="btn btn-danger" data-url="{{ path('bind_pcssd') }}">确认绑定</button>
            </div>
        </div>
    </div>


{% endblock %}