{% set side_nav = 'my-teaching-courses' %}
{% set menu = 'resourcePacket' %}
{% extends "@Course/CourseManage/courseLayout.html.twig" %}

{% set script_controller = 'course-resource-packet/resource_packet' %}

{% block title %}课程资源包管理 - {{ parent() }}{% endblock %}

{% block courseContent %}
    <div class="panel-body">
        <div class="t-course-handle">
            <div class="t-add-content pull-right">
                <button class="btn btn-info btn-sm pull-right"  role="button" id="makeResourcePacket" data-toggle="modal" data-target="#modal" data-url="{{ path('course_resource_packet_generate',{courseId:course.id}) }}">
                    <i class="glyphicon glyphicon-plus"></i>
                    {% if resourcePacket is empty %}
                        生成课程资源包
                    {% else %}
                        重新生成课程资源包
                    {% endif %}
                </button>
            </div>
        </div>
        {% if resourcePacket is empty %}
            <div class="empty">尚未生成课程资源包</div>
        {% else %}
            <table class="table table-striped table-hover c-table">
                <thead>
                <tr class="active">
                    <th>资源包名称</th>
                    <th width="12%">资源包大小</th>
                    <th width="16%">生成时间</th>
                    <th width="10%">下载次数</th>
                    <th width="14%">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ resourcePacket.name }}</td>
                    <td>{{ resourcePacket.size|file_size }}</td>
                    <td>{{ resourcePacket.createdTime|data_format }}</td>
                    <td>{{ resourcePacket.downloadNum }}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" id="deleteResourcePacket" data-url="{{ path('course_resource_packet_delete') }}" data-id="{{ course.id }}" data-goto="{{ path("course_resource_packet_manage",{id:course.id}) }}">删除资源包</button>
                        <button type="button" class="btn btn-info btn-sm" id="reMakeResourcePacket" data-toggle="modal" data-target="#modal" data-url="{{ path('course_resource_packet_generate',{courseId:course.id}) }}" style="width: 100%;margin-top: 5px;">重新生成资源包</button>
                    </td>
                </tr>
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}