{% extends '@BackManage/Daily/layout.html.twig' %}

{% block title %}消息推送日志 - {{ parent() }}{% endblock %}

{% set menu = 'pushLog' %}
{% set nav = 'daily' %}

{% block main %}
{# <div class="panel panel-default panel-col"> #}
<div class="panel panel-default panel-col lesson-manage-panel">
    <div class="panel-heading">
        任务消息列表   <div class="user-all-num">搜索结果: {{paginator.itemCount}}</div>
    </div>
    <div class="panel-body">
  <form id="daily-search-form" class="form-inline well well-sm" action="" method="get" novalidate>  
      <div class="form-group">
    <select id="keywordType" class="form-control" name="keywordType" noautochange='1'>
          {% set options = {'':'--关键词类型--','1':'用户uid','2':'邮箱','3':'手机号'} %}
          {{ select_options(options, app.request.get('keywordType')) }}
    </select>
  </div>

  <div class="form-group">
   <input type="hidden" name="submenu" value="{{submenu}}"/>
    <input type="text" id="keyword" name="keyword" class="form-control form-keyword" value="{{ app.request.query.get('keyword') }}" placeholder="关键词">
 
    <select id="platform" class="form-control" name="platform" noautochange='1'>
          {% set options = {'':'--全部平台--','android':'安卓','ios':'IOS'} %}
          {{ select_options(options, app.request.get('platform')) }}
    </select>
  </div>
  <button class="btn btn-primary searchNotice">搜索</button>
    
</form>
{% if pushLogList %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>设备channel_id</th>
      <th>班级</th>
    
      <th>标题</th>
      <th>平台</th>
     
      <th>发送时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  {% for message in pushLogList %}
    <tr id="user-table-tr-{{ message.id }}">
        <td>{{message.id}}</td>
        <td>
        <a href="###" data-toggle="tooltip"  data-placement="top" data-animation="false" data-list="teacher" data-original-title="{{explodeChannelStr(message.channel_ids)|default('无')}}" >
             {% if message.channel_ids_num %}
                  {{message.channel_ids_num}}个
                {%else%}
                 无
               {% endif%}
             </a>          
      </td>
        <td>{%if message.class_name%}{{message.class_name}}{%else%}无 {% endif%}</td>
     
      
        <td>{{mbSubstrLen(message.title,{len:10})}}</td>
           <td>{% if message.platform =="android"%}安卓{%else%}苹果 {%endif%}</td>
        <td>{{message.ctime | date("Y-m-d H:i:s")}}</td>
       <td>
        <div class="btn-group">
      <a href="#modal" data-toggle="modal" data-url="{{ path('admin_daily_pushlog_show', {id:message.id}) }}" data-url="" class="btn btn-default btn-sm">查看</a>
      
     
    </div>
       </td>
        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{{ web_macro.paginator(paginator) }}
{% else %}
  <div class="empty">暂无查询的推送日志</div>
{% endif %}

                            </div>
</div>
{% endblock %}
 {% set script_controller = "taskmsg/list"%}