{% extends '@Home/bootstrap-modal-layout.html.twig' %}

{% set modal_class = 'modal-lg' %}
{% set lesson = lesson|default(null) %}


{% block title %}
    {% if lesson %}编辑课程内容{{ lesson.number }}{% else %}添加课程内容{% endif %}
{% endblock %}

{% block body %}

<form id="course-lesson-form" data-course-id="{{course.id}}" class="form-horizontal lesson-form" method="post" {% if parentId is defined%}data-parentId="{{parentId}}" {% endif %}
  data-create-draft-url="{{path('course_draft_create')}}"
  {% if lesson %}
    action="{{ path('course_manage_lesson_edit', {courseId:course.id, lessonId:lesson.id}) }}" data-lesson-id="{{lesson.id}}"
  {% else %}
    action="{{ path('course_manage_lesson_create', {id:course.id}) }}"
  {% endif %}
  >

    <div class="form-group">
        <div class="col-md-2 control-label"><label>类型</label></div>
        <div class="col-md-9 controls">
            <div class="radios">
                {% if lesson %}
                    {% if lesson.type=='video'%}<label><input type="radio" name="type" value="video" checked="checked"> 视频</label>{% endif %}
                    {% if lesson.type=='document' %}<label><input type="radio" name="type" value="document" checked="checked"> 文档</label>{% endif %}
                    {% if lesson.type=='text' %}<label><input type="radio" name="type" value="text" checked="checked"> 图文</label>{% endif %}
                {% else %}
                    <label><input type="radio" name="type" value="video" checked="checked"> 视频</label>
                    <label><input type="radio" name="type" value="document"> 文档</label>
                    <label><input type="radio" name="type" value="text"> 图文</label>
                {% endif %}
                {#{ radios('type', dict('lessonType'), field_value(lesson, 'type')|default('video')) }#}
            </div>
        </div>
    </div>

    <div class="form-group loading-tip" style="text-align: center;font-size: 18px;">加载中，请稍候...</div>

    <div class="form-group for-text-type for-video-type for-audio-type for-document-type " >
        <div class="col-md-2 control-label"><label for="lesson-title-field">标题</label></div>
        <div class="col-md-9 controls">
            <div class="row">
                <div class="col-md-12">
                    <input id="lesson-title-field" class="form-control" type="text" name="title" value="{{ field_value(lesson, 'title') }}" >
                </div>
            </div>
        </div>
    </div>

    <div class="form-group for-text-type for-video-type for-audio-type  for-document-type ">
        <div class="col-md-2 control-label"><label for="lesson-summary-field">摘要</label></div>
        <div class="col-md-9 controls">
            <textarea class="form-control" id="lesson-summary-field" name="summary" >{{ field_value(lesson, 'summary') }}</textarea>
        </div>
    </div>

    <div class="form-group for-text-type">
        <div class="col-md-2 control-label"><label for="lesson-content-field" class="style1">内容</label></div>
        <div class="col-md-9 controls">
            {% if draft|default(false) %}
                <a id ="see-draft-btn" class="btn btn-link" data-url="{{path('course_draft_view')}}" >
                  <small>您有一段自动保存内容，继续编辑请点击</small>
                </a>
            {% endif %}
            <textarea class="form-control" id="lesson-content-field" name="content"
            data-image-upload-url="{{ path('editor_upload', {token:upload_token('course')}) }}"
            data-flash-upload-url="{{ path('editor_upload', {token:upload_token('course', 'flash')}) }}"
            >{{ lesson.content|default('') }}</textarea>
        </div>
    </div>

    <div class="form-group for-video-type for-audio-type for-document-type  ">
        <div class="col-md-2 control-label for-video-type"><label>视频</label></div>
        <div class="col-md-2 control-label for-audio-type"><label>音频</label></div>
        <!-- <div class="col-md-2 control-label for-ppt-type"><label>PPT</label></div>
        <div class="col-md-2 control-label for-flash-type"><label>Flash</label></div>-->
        <div class="col-md-2 control-label for-document-type"><label>文档</label></div>
        <div class="col-md-9 controls">
            {% include "@Course/CourseLessonManage/media-choose.html.twig" %}
            {% if not lesson %}
                <input type="hidden" name="chapter-id" value="{% if parentId is defined %}{{ parentId }}{% endif %}"/>
            {% endif %}
            <input id="lesson-media-field" type="hidden" name="media" value="{{ field_value(lesson, 'media')|json_encode }}">
            <input type="hidden" name="polyvVid" value="{{ field_value(lesson, 'polyvVid') }}"/>
            <input type="hidden" name="polyvVideoSize" value="{{ field_value(lesson, 'polyvVideoSize',0) }}"/>
        </div>
    </div>

    {% if 'lesson_credit' in features %}
        <div class="form-group for-text-type for-video-type for-audio-type for-ppt-type">
            <div class="col-md-2 control-label"><label for="lesson-give-credit-field">学分</label></div>
            <div class="col-md-9 controls">
                <input class="form-control width-input width-input-small" id="lesson-give-credit-field" type="text" name="giveCredit" value="{{ lesson.giveCredit|default(0) }}"> 分
                <div class="help-block">学完此课程内容，可获得的学分</div>
            </div>
        </div>
    {% endif %}

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
    <input type="hidden" name="center" value="{{ app.request.get('center') }}">

</form>
 

<script>app.load('course-manage/lesson-modal')</script>



{% endblock %}

{% block footer %}
    <button type="button" class="btn btn-link" data-dismiss="modal" id="cancel-btn">取消</button>
    <button id="course-lesson-btn" disabled="disabled" data-submiting-text="正在提交" type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#course-lesson-form">{% if lesson %}保存{% else %}添加{% endif %}</button>
{% endblock %}

{% set hideFooter = true %}