{% extends '@Home/bootstrap-modal-layout.html.twig' %}

{% set config = config|default(null) %}
{% set modal_class = 'modal-lg' %}


{% block title %}
编辑{{ tyepText }}
{% endblock %}

{% block body %}
<form class="form-horizontal" id="config-form"  action="{{ U('Course/CourseTestpaperManage/editCourseTest',{center:app.request.get('center')}) }}" method="post">
          <div class="row form-group">
              <div class="col-md-2 control-label"><label for="title">标题</label></div>
              <div class="col-md-8 controls">
                  <input class="form-control" type="text" id="title" value="{{classInfo.title}}" name="title" >
                   <input  type="hidden" id="id" value="{{classInfo.id}}" name="id" >
              </div>
          </div>

          <p></p>

          <div class="row form-group">
              <div class="col-md-2 control-label"><label for="remark">简介</label></div>
              <div class="col-md-8 controls">
                  <textarea name="remark" id="remark" cols="30" rows="5" class="form-control">{{classInfo.remark}}</textarea>
              </div>
          </div>

          <p></p>
      </form>
      <script type="text/javascript">
          app.load('testpaper/create-course-test')
          </script>

{% endblock %}
{% block footer %}
          <button type="button" class="btn btn-link" data-dismiss="modal" id="cancel-btn">取消</button>
          <button id="config-save-btn" data-submiting-text="正在提交" type="submit" class="btn btn-primary" data-toggle="form-submit" data-target="#config-form">保存</button>
{% endblock %}

{% set hideFooter = true %}