{% if user %}
  <li class="hidden-xs"><a href="{{ path('my') }}"> 我的云课堂</a></li>
  {% if setting('mobile.enabled') %}
    <li class="hidden-xs n-ewm-app">
      <a href="/System/Mobile/defaultAction" class="mobile-badge-container" id='mobileDown' target="_blank">
        <span class="glyphicon glyphicon-phone"></span>
        <span class="badge">v2</span>
      </a>
      <div class="n-ewm-pic {% if allowGuide != '1' %}hide{% endif %}">
        <img src="/System/Mobile/downloadQrcodeAction" width="150" height="150">
        <em>扫描下载移动端</em>
      </div>
    </li>
  {% endif %}
  <li class="hidden-xs"><a href="{{ path('search') }}"><span class="glyphicon glyphicon-search"></span></a></li>
  <li class="hidden-xs">
    <a href="{{ path('notification') }}" class="badge-container notification-badge-container">
      <span class="glyphicon glyphicon-bullhorn hidden-lt-ie8"></span>
      <span class="visible-lt-ie8">通知</span>
      {% if user.newNotificationNum > 0 %}<span class="badge">{{ user.newNotificationNum }}</span>{% endif %}
    </a>
  </li>
  <li class="hidden-xs">
    <a href="{{ path('message') }}" class="badge-container message-badge-container">
      <span class="glyphicon glyphicon-envelope hidden-lt-ie8"></span>
      <span class="visible-lt-ie8">私信</span>
      {% if user.newMessageNum > 0 %}<span class="badge">{{ user.newMessageNum }}</span>{% endif %}
    </a>
  </li>
  <li class="visible-lt-ie8 hidden-xs"><a href="{{ path('settings') }}">{{ user.nickname }}</a></li>
  <li class="dropdown hidden-lt-ie8">
    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">{{ user.nickname }} <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="{{ path('user_show', {id:user.id}) }}"><i class="glyphicon glyphicon-home"></i> 我的主页</a></li>
      <li class="divider"></li>
      <li><a href="{{ path('settings') }}"><i class="glyphicon glyphicon-user"></i> 个人中心</a></li>
      <li class="divider"></li>
      {% if is_userRole() %}
        <li><a href="{{ path('admin') }}"><i class="glyphicon glyphicon-dashboard"></i> 管理后台</a></li>
        <li class="divider"></li>
      {% endif %}
      <li><a href="{{ path('logout') }}"><i class="glyphicon glyphicon-off"></i> 退出</a></li>
    </ul>
  </li>
{% else %}
  {% if setting('mobile.enabled') %}
    <li class="hidden-xs n-ewm-app"><a href="/System/Mobile/defaultAction" id="mobileDown" target="_blank"><span class="glyphicon glyphicon-phone"></span> 手机版</a>
      <div class="n-ewm-pic {% if allowGuide != '1' %}hide{% endif %}" style="position: absolute;top:50px;left:50%;padding:5px;margin-left:-81px;border:1px solid #ddd;background:#fff;text-align:center;">
        <img src="/System/Mobile/downloadQrcodeAction" width="150" height="150">
        <em style="font-style: normal">扫描下载移动端</em>
      </div>
    </li>
  {% endif %}
  <li class="hidden-xs"><a href="{{ path('search') }}"><span class="glyphicon glyphicon-search"></span> 搜索</a></li>
  <li><a href="{{ path('login', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">登录</a></li>
  <li><a href="{{ path('register', {goto:_target_path|default(app.request.server.get('REQUEST_URI'))}) }}">注册</a></li>
{% endif %}