{#{% extends '@User/Settings/layout.html.twig' %}#}
{% extends '@My/My/layout.html.twig' %}

{% block title %}基础信息 - {{ parent() }}{% endblock %}
{% set script_controller = 'settings/profile' %}
{% set side_nav = 'profile' %}
{% block main %}
    {% embed "@Home/Bootstrap/panel.html.twig" with {class:'panel-col'} %}
        {% block heading %}基础信息{% endblock %}
        {% block body %}
        <div class="panel-body">
                
            <form id="user-profile-form" class="form-horizontal" method="post">
                {{ web_macro.flash_messages() }}

                {#{% if user.isTeacher() %}#}
                <div class="col-md-5 pull-right">
                <div class="form-group" id="avatar-form-group">
                    <div class="col-md-3 control-label"><b>当前头像</b></div>
                    <div class="controls col-md-7 controls">
                        <div style="min-height:150px;"><img style="border:2px solid #ccc;border-radius: 50%;width: 150px;height:150px;" src="{{ user_default_path(user.id, 'large') }}"></div>
                        <div class="c-upload-loading hide" id="progress">
                            <div class="c-loading-con" >
                                <span id="bar"><em></em><i></i></span>
                                <p class="mts text-muted">图片加载中，请稍候...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3 control-label">
                        <label for="form_avatar" class="required"><b>新头像</b></label>
                    </div>
                    <div class="controls col-md-7 controls">
                        <input type="file" id="form_avatar" name="avatar" required="required" data-widget-cid="widget-1" data-explain="你可以上传JPG、GIF或PNG格式的文件，文件大小不能超过<strong>2M</strong>。" data-url="{{ U('User/Settings/avatar') }}" accept="image/gif,image/jpeg,image/png">
                        <p class="help-block">你可以上传JPG、GIF或PNG格式的文件，文件大小不能超过<strong>2M</strong>。</p>
                        <button type="button" style="width: 0;height: 0;display: none;" id="crop_modal_btn"  data-target="#modal" data-toggle="modal" data-backdrop="static" data-url=""></button>
                    </div>
                    <input type="hidden" id="profile_avatar_field0" name="profile[avatar0]" value="{{ user.smallAvatar }}" />
                    <input type="hidden" id="profile_avatar_field1" name="profile[avatar1]" value="{{ user.mediumAvatar }}" />
                    <input type="hidden" id="profile_avatar_field2" name="profile[avatar2]" value="{{ user.largeAvatar }}" />
                </div>
                </div>
                {#{% endif %}#}

                <div class="col-md-7 pull-left">
                        {% include '@User/Settings/profile_user_form.html.twig' %}
                        {% if user.isTeacher %}
                            {% include '@User/Settings/profile_teacher_form.html.twig' %}
                        {% else %}
                            {% include '@User/Settings/profile_student_form.html.twig' %}
                        {% endif %}
                </div>

                <div class="row">
                    <div class="col-md-7 col-md-offset-2">
                        <button id="profile-save-btn" data-submiting-text="正在保存" style="width: 180px;height: 40px;" type="submit" class="btn btn-primary">保存</button>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
            </form>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}